body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.textarea {
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
  height: 100px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid #DDDDDD;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

li {
  cursor: pointer;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.pool {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  overflow: auto;
  align-content: center;
  position: relative;
}

.pool-title {
  position: relative;
}

.btn {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 200px;
  position: relative;
}

.active {
  font-weight: bold;
}

.new-pool {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.author-container {
  margin: auto;
  float: left;
  width: 33%;
}

.options-container {
  margin: auto;
  float: right;
  width: 66%
}

.identification-container {
  background-color: #DDDDDD;
  border-radius: 5px;
  border: 1px solid #777777;
  width: 350px;
  height: 360px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
  text-align: center;
}

.identification-title {
  font-family: ".SFNSDisplay-Heavy", "SFProDisplay-Heavy", "SFUIDisplay-Heavy", ".SFUIDisplay-Heavy", sans-serif;
  color: black;
  font-size: 50px;
  letter-spacing: 0px;
  line-height: 1.2;
}

.option {
  position: relative;
  display: block;
  flex-direction: column;
}

.option-choosen {
  color: green;
  font-weight: bold;
}

.option-resp {
  display: inline;
  float: right;
}

.center {
  text-align: center;
}

.user-changer {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  margin: auto;
  position: relative;
}

.user-selector {
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  border: 1px solid #DDDDDD;
  width: 300px;
  height: 30px;
}
