body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.textarea {
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
  height: 100px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid #DDDDDD;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  font-family: ".SFNSText-Medium", "SFProText-Medium", "SFUIText-Medium", ".SFUIText-Medium", sans-serif;
  color: rgba(153, 153, 153, 1.00);
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 1.3;
}

.nav li:first-child {
  padding-left: 0;
}

li {
  cursor: pointer;
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

ol li {
  cursor: default;
}

ul {
  padding-left: 0;
}

.pool {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  overflow: auto;
  align-content: center;
  position: relative;
}

.pool-title {
  position: relative;
}

.btn {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  position: relative;
  font-family: ".SFNSText-Semibold", "SFProText-Semibold", "SFUIText-Semibold", ".SFUIText-Semibold", sans-serif;
  color: rgba(255, 255, 255, 1.00);
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 1.3;
  background-color: #05f;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 0px hsla(220, 100%, 50%, 0.4);
}

form .btn {
  width: 300px;
  margin: auto;
  top: 10px;
}

.active {
  font-family: ".SFNSText-Medium", "SFProText-Medium", "SFUIText-Medium", ".SFUIText-Medium", sans-serif;
  color: hsl(0, 0%, 0%);
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 1.3;
  text-decoration-line: underline;
}

.new-pool {
  width: 100%;
  max-width: 590px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.author-container {
  margin: auto;
  float: left;
  width: 33%;
}

.options-container {
  margin: auto;
  float: right;
  width: 66%;
  align-items: center;
}

.identification-container {
  background-color: #FAFAFA;
  border-radius: 5px;
  border: 1px solid #777777;
  width: 350px;
  height: 360px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
  text-align: center;
}

.identification-title {
  font-family: ".SFNSDisplay-Heavy", "SFProDisplay-Heavy", "SFUIDisplay-Heavy", ".SFUIDisplay-Heavy", sans-serif;
  color: black;
  font-size: 50px;
  letter-spacing: 0px;
  line-height: 1.2;
}

.option {
  position: relative;
  display: block;
  flex-direction: column;
}

.option-choosen {
  color: green;
  font-weight: bold;
}

.option-resp {
  display: inline;
  float: right;
}

.center {
  text-align: center;
}

.user-changer {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  margin: auto;
  position: relative;
}

.user-selector {
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  border: 1px solid #DDDDDD;
  width: 300px;
  height: 30px;
}

.ldb-user-container {
  display: flex;
  padding: 20px;
  width: 300px;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0px 4px 20px 0px hsla(0, 0%, 0%, 0.17), 0px 2px 6px 0px hsla(0, 0%, 0%, 0.02);
}

.ldb-user-container > img {
  margin: auto;
}

.ldb-user-container > h3 {
  margin: auto;
  margin-top: 15px;
}

.ldb-user-container > p {
  margin: auto;
  margin-top: 5px;
}

.ldb-user-list {
  width: 350px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: relative;
  margin: auto;
  text-align: center;
}

.pool-page-container {
  max-width: 1000px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: relative;
  margin: auto;
  text-align: center;
  padding: 15px;
}

.pool-page-container .btn {
  width: 200px;
}

.authed-user {
  color: #05f;
  font-weight: 550;
}

.options-list li {
  padding: 0px;
}
